@media (max-width: 768px) {
  #side-bar {
    position: relative;
    width: 100%;
    height: auto;
  }

  #display-area {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  #save-button {
    position: static;
    margin-left: auto;
  }
}

.editor-open #side-bar {
  display: none;
}
.editor-open #display-area {
  margin-left: 0;
}


#notes-screen{
    background-color: rgb(31, 30, 30);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}


#side-bar{
    position: fixed;
    height: 100%;
    width: 200px;
    background: rgb(73, 73, 73);
}

#side-bar-top{
    height: 50%;
    width: 200px;
    background-color: rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-note{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: white;
    margin-top: 50px;
    font: 40px helvetica;
    color: gray;
    background-color: rgb(245, 247, 154);
    border: none;
    cursor: pointer;
    box-shadow: 3px 2px rgba(0, 0, 0, 0.349);
}

#add-note:active{
    height: 40px;
    width: 40px;
    font: 30px helvetica;
    background-color: rgba(247, 250, 51, 0.521);
    box-shadow: none;
}

#search-note{
    border: 5px ridge black;
    outline: none;
    border-radius: 5px;
    height: 30px;
    width: 80%;
    padding-left: 10px;
    
}

#side-bar-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sign-out-button{
    position: absolute;
    width: 130px;
    height: 30px;
    bottom: 30px;
    border: none;
    background-color: rgb(247, 247, 247);
    font-weight: bold;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 2px 3px black;
}

#sign-out-button:hover{
    background-color: rgb(156, 156, 156);
    width: 140px;
    height: 35px;
    font-size: 17px;
}

#display-area{
    margin-left: 200px;
    background-color: rgb(27, 27, 27);
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
    max-width: 100%;
}

.note-preview{
    background-color: black;
    color: white;
    width: min(220px, 90vw);
    height: auto;
    min-height: 250px;
    font-family: Helvetica;
    font-size: 15px;
    border-radius: 7px;
    margin: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    user-select: none;
    line-height: 1.4;
}
.note-preview:hover{
    outline: 2px solid rgb(160, 160, 160);
}



.options-button{
    position: absolute;
    right: 20px;
    top: 25px;
    cursor: pointer;
    justify-content: right;
    color: white;
    background-color: black;
    border: none;
    font-size: 20px;
    user-select: none;
}

.full-note{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(7, 7, 7);
    color: white;
    padding: 30px;
    box-sizing: border-box;
}

#note-inner{
    width: 96%;
    background-color: rgb(22, 22, 22);
    margin-top: 30px;
    color: white;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 80px; 
    border: none;
    outline: none;
    resize: none;
    min-height: 300px;
}
#note-inner::-webkit-scrollbar {
    width: 20px;
}

#note-inner::-webkit-scrollbar-track{
    background: rgb(0, 0, 0);
}

#note-inner::-webkit-scrollbar-thumb {
    background: rgb(73, 73, 73);
    border-radius: 5px;
    border: 2px solid rgb(22, 22, 22);
    cursor: pointer;
}

#note-title{
    width: 50%;
    height: 30px;
    background-color: rgb(7, 7, 7);
    color: white;
    font-size: 30px;
    border: none;
    resize: none;
    overflow: hidden;
    outline: none;
}

#back-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px 15px;
    margin-right: 20px;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: bolder;
}

#back-button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

#save-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 0px;
    right: 40px;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: bolder;
    position: fixed;
}

#save-button:hover {
    background-color: rgb(0, 255, 0);
    color: black;
}

#attachment-display{
    display: flex;
    background-color: rgb(7, 7, 7);
    min-height: 50px; 
    margin-top: 10px;
}

#attach-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: bolder;
    position: relative; 
    left: 0; 
    align-self: flex-start;
}

#attach-button:hover {
    background-color: white;
    color: black;
}

#delete-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: bolder;
    position: relative; 
    align-self: flex-end;
}

#delete-button:hover {
    background-color: rgb(173, 0, 0);
    color: rgb(255, 255, 255);
}




